nestedtemplates/dataFactory.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string"
        },

        "storageAccountName": {
            "type": "string"
        },

        "dataLakeAccountName": {
            "type": "string"
        },
        "location": {
            "type": "string"
        }

    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]",
        "storageAccountId": "[concat(resourceGroup().id,'/providers/Microsoft.Storage/storageAccounts/', parameters('storageAccountName'))]",
        "dataLakeAccountId": "[concat(resourceGroup().id,'/providers/Microsoft.Storage/storageAccounts/', parameters('dataLakeAccountName'))]",
        "HttpServerNYCTaxi_properties_typeProperties_url": "https://nytaxiblob.blob.core.windows.net/"
    },
    "resources": [

        {
            "type": "Microsoft.DataFactory/factories",
            "apiVersion": "2018-06-01",
            "name": "[parameters('factoryName')]",
            "location": "[parameters('location')]",
            "tags": {
                "Environment": "Public",
                "AssociatedDataSet": "NYCTAXI"
            },
            "identity": {
                "type": "SystemAssigned"
            }
        },

        {
            "name": "[concat(parameters('factoryName'), '/AzureBlobStorageNYCSink')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobStorage",
                "typeProperties": {
                    "connectionString": "[concat('DefaultEndpointsProtocol=https;AccountName=',parameters('storageAccountName'),';AccountKey=',concat(listKeys(variables('storageAccountId'),'2015-05-01-preview').key1),';EndpointSuffix=core.windows.net')]"
                }
            },
            "dependsOn": [
                "[parameters('factoryName')]"
            ]
        },

        {
            "name": "[concat(parameters('factoryName'), '/AzureDataLakeNYC')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[concat('https://',parameters('dataLakeAccountName'),'.dfs.core.windows.net')]",
                    "accountKey": {
                        "type": "SecureString",
                        "value": "[concat(listKeys(variables('dataLakeAccountId'),'2015-05-01-preview').key1)]"
                    },
                    "connectionString": "[concat('DefaultEndpointsProtocol=https;AccountName=',parameters('dataLakeAccountName'),';AccountKey=',concat(listKeys(variables('dataLakeAccountId'),'2015-05-01-preview').key1),';EndpointSuffix=core.windows.net')]"

                }
            },
            "dependsOn": [
                "[parameters('factoryName')]"
            ]
        },

        {
            "name": "[concat(parameters('factoryName'), '/HttpServerNYCTaxi')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "HttpServer",
                "typeProperties": {
                    "url": "[variables('HttpServerNYCTaxi_properties_typeProperties_url')]",
                    "enableServerCertificateValidation": false,
                    "authenticationType": "Anonymous"
                }
            },
            "dependsOn": [
                "[parameters('factoryName')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/NYC_Source_Data')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "HttpServerNYCTaxi",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "RelativeUrlValue": {
                        "type": "array"
                    }
                },
                "folder": {
                    "name": "NYC_Taxi_Datasets/Source"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "HttpServerLocation",
                        "relativeUrl": {
                            "value": "@dataset().RelativeUrlValue",
                            "type": "Expression"
                        }
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": [
                "[parameters('factoryName')]",
                "[concat(variables('factoryId'), '/linkedServices/HttpServerNYCTaxi')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/NYC_Taxi_Sink')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureBlobStorageNYCSink",
                    "type": "LinkedServiceReference"
                },
                "folder": {
                    "name": "NYC_Taxi_Datasets/Sink"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "folderPath": "nyctaxidate",
                        "container": "nyctaxi"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": [
                "[parameters('factoryName')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageNYCSink')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/NYC_Pipeline')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "ForEach1",
                        "type": "ForEach",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@pipeline().parameters.RelativeUrl",
                                "type": "Expression"
                            },
                            "activities": [
                                {
                                    "name": "NYC_Data_Copy_Blob",
                                    "type": "Copy",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "7.00:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "source": {
                                            "type": "DelimitedTextSource",
                                            "storeSettings": {
                                                "type": "HttpReadSettings",
                                                "requestMethod": "GET"
                                            },
                                            "formatSettings": {
                                                "type": "DelimitedTextReadSettings"
                                            }
                                        },
                                        "sink": {
                                            "type": "DelimitedTextSink",
                                            "storeSettings": {
                                                "type": "AzureBlobStorageWriteSettings"
                                            },
                                            "formatSettings": {
                                                "type": "DelimitedTextWriteSettings",
                                                "quoteAllText": true,
                                                "fileExtension": ".csv"
                                            }
                                        },
                                        "enableStaging": false,
                                        "translator": {
                                            "type": "TabularTranslator",
                                            "typeConversion": true,
                                            "typeConversionSettings": {
                                                "allowDataTruncation": true,
                                                "treatBooleanAsNumber": false
                                            }
                                        }
                                    },
                                    "inputs": [
                                        {
                                            "referenceName": "NYC_Source_Data",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "RelativeUrlValue": {
                                                    "value": "@item()",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    ],
                                    "outputs": [
                                        {
                                            "referenceName": "NYC_Taxi_Sink",
                                            "type": "DatasetReference",
                                            "parameters": {}
                                        }
                                    ]
                                },
                                {
                                    "name": "NYC_Data_Copy_ADLS",
                                    "type": "Copy",
                                    "dependsOn": [
                                        {
                                            "activity": "NYC_Data_Copy_Blob",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "7.00:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "source": {
                                            "type": "DelimitedTextSource",
                                            "storeSettings": {
                                                "type": "HttpReadSettings",
                                                "requestMethod": "GET"
                                            },
                                            "formatSettings": {
                                                "type": "DelimitedTextReadSettings"
                                            }
                                        },
                                        "sink": {
                                            "type": "DelimitedTextSink",
                                            "storeSettings": {
                                                "type": "AzureBlobFSWriteSettings"
                                            },
                                            "formatSettings": {
                                                "type": "DelimitedTextWriteSettings",
                                                "quoteAllText": true,
                                                "fileExtension": ".csv"
                                            }
                                        },
                                        "enableStaging": false,
                                        "translator": {
                                            "type": "TabularTranslator",
                                            "typeConversion": true,
                                            "typeConversionSettings": {
                                                "allowDataTruncation": true,
                                                "treatBooleanAsNumber": false
                                            }
                                        }
                                    },
                                    "inputs": [
                                        {
                                            "referenceName": "NYC_Source_Data",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "RelativeUrlValue": {
                                                    "value": "@item()",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    ],
                                    "outputs": [
                                        {
                                            "referenceName": "NYC_Taxi_ADLS_Sink",
                                            "type": "DatasetReference",
                                            "parameters": {}
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                ],
                "parameters": {
                    "RelativeUrl": {
                        "type": "array",
                        "defaultValue": [
                            "2013/Weather/QID6431_20171107_10617_0.txt",
                            "2013/Weather/QID6431_20171107_10617_1.txt",
                            "2013/Weather/QID6431_20171107_10617_2.txt",
                            "2013/Weather/QID6431_20171107_10617_3.txt",
                            "2013/Weather/QID6431_20171107_10617_4.txt",
                            "2013/Weather/QID6431_20171107_10617_5.txt",
                            "2013/Weather/QID6431_20171107_10617_6.txt",
                            "2013/Weather/QID6431_20171107_10617_7.txt",
                            "2013/Weather/QID6431_20171107_10617_8.txt",
                            "2013/Weather/QID6431_20171107_10617_9.txt",
                            "2013/Weather/QID6431_20171107_10617_10.txt"
                        ]
                    }
                },
                "folder": {
                    "name": "NYC_Taxi_Data_Loading"
                },
                "annotations": [],
                "lastPublishTime": "2021-08-10T06:36:49Z"
            },
            "dependsOn": [
                "[parameters('factoryName')]",
                "[concat(variables('factoryId'), '/datasets/NYC_Source_Data')]",
                "[concat(variables('factoryId'), '/datasets/NYC_Taxi_Sink')]",
                "[concat(variables('factoryId'), '/datasets/NYC_Taxi_ADLS_Sink')]"
            ]
        },
       
        {
            "name": "[concat(parameters('factoryName'), '/NYC_Taxi_ADLS_Sink')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureDataLakeNYC",
                    "type": "LinkedServiceReference"
                },
                "folder": {
                    "name": "NYC_Taxi_Datasets/Sink"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileSystem": "nyctaxi"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": [
                "[parameters('factoryName')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureDataLakeNYC')]"
            ]
        }
    ]
}
